:root
{
    --color-bg-trans:           rgba(38, 38, 38, .2);
    --color-bg-trans-4:         rgba(38, 38, 38, .4);
    --color-highlight:          #dce2ef;
    --color-highlight-trans:    rgba(220, 226, 239, .6);

    --color-inv-bg:             rgba(122, 122, 122, .6);
    --color-slot-bg:            rgba(18, 18, 18, .7);

    --equip-dot:                rgba(82, 82, 82, .5);

    --color-header:             rgba(100, 100, 100, .7);
    --color-headline:           rgba(239, 83, 80,.9);
    --color-background:         rgba(66, 66, 66,0.7);
    --color-button:             rgba(239, 83, 80,.8);
    --color-button-hover:       rgba(239, 101, 80,.8);
    font-family: Lato;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}


@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Regular.ttf") format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Bold.ttf") format('truetype');
    font-weight: bold;
}

.header
{
    width: 150px;
    height: 30px;
    background-color: var(--color-header);
    box-shadow: 0 0 0 2px var(--color-highlight-trans);
    z-index: 1;
}

.header p
{
    line-height: 30px;
    margin-left: 5px;
    color: var(--color-highlight);
}

.button {
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;    
    font-size: 16px;
    outline: 0;
    border: none;
    border-radius: 2px;
    display: inline-block;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}


/*
 * UTILS
 */
.none
{
    display: none;
}