:root {}
body {
    background-image: url("../20190208-17-54-25.jpg");
}
.charselect {
    position: relative;
    width: 20vw;
    height: 50vh;
    max-width: 300px;
    margin-left: 5vw;
    margin-top: 20vh;

}
.charselect>.headline {
    font-family: Lato;
    background: var(--color-headline);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 6px;
    margin-bottom:5px;
    font-weight: 600;
    position: relative;
    width:50%;
    text-align: center;
    line-height: 20px;
    color:var(--font-color-dark);
    background:var(--gradient-headline-selected);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.charselect>.headline:after{
	content:" ";
	position: absolute;
	width:40px;
	height:31px;
	top:0;
	right:-25px;
    background:var(--gradient-headline-selected);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 5px;
	transform: skewX(45deg);
}


.charselect>.char_list {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    background: var(--color-bg-trans-8);
    overflow:overlay;
}
.charselect>.char_list>.char {
    height: 70px;
    width: 95%;
    margin-left:2.5%;
    position: relative;
    color: #FFF;
    margin-bottom: 8px;
    border-radius:2px;
    cursor:pointer;
    border:1px solid var(--color-outline-normal);
    transition: all 0.1s linear;
    z-index:0;
    overflow:hidden;
}
.charselect>.char_list>.char:hover {
    background-color: var(--color-background-selected-light);
    transition: all 0.1s linear;
}
.charselect>.char_list>.char.selected>.check {
	position: absolute;
	height:100%;
	top:-40px;
	right:15%;
	vertical-align: middle;
	line-height:70px;
	font-size:160px;
	color:rgba(255,255,255,0.2);
}

.charselect>.char_list>.char>.name {
    font-family: Roboto;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left:12px;
    line-height: 30px;
    z-index:1;
}
.charselect>.char_list>.char>.status {
    font-family: Roboto;
    padding-top: 2px;
    padding-bottom: 3px;
    line-height: 30px;
    padding-left:12px;
    z-index:1;
}

.charselect>.char_list>.char>.new {
    line-height: 70px;
    text-align: center;
    width: 100%;
    font-size: 2em;
    opacity: 0.6;
    position: absolute;
    top:-2px;
    z-index:1;
}