<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <link rel="stylesheet" href="../../source/css/font-awesome.css">
	    <link rel="stylesheet" href="../../source/css/global.css">
	    <link rel="stylesheet" href="style/style.css">

	    <script src="../../source/js/jquery-3.3.1.min.js"></script>
	    <script src="../../source/js/jquery-ui.min.js"></script>
	</head>
	<body>
		<div id="character_select" class="charselect">
			<div class="headline">Character Selection</div>
		    <div class="char_list">
		    	<div class="char">
		    		<div class="name">Z7pn</div>
		    		<div class="status">Alive</div>
		    	</div>	
		    	<div class="char">
		    		<div class="name">Z8pn</div>
		    		<div class="status">Dead</div>
		    	</div>	
		    	<div class="char">
		    		<div class="new"><i class="fa fa-plus"></i></div>
		    	</div>	
		    </div>
		    <div class="spawn">
		    	Spawn
		    </div>
		</div>
	<script src="script/script.js"></script>
	</body>
</html>