<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../source/css/font-awesome.css">
    <link rel="stylesheet" href="../../source/css/global.css">
    <link rel="stylesheet" href="style/style.css?v=1">

    <script src="../../source/js/jquery-3.3.1.min.js"></script>
    <script src="../../source/js/jquery-ui.min.js"></script> 
    <script src="../../source/js/rage-rpc.min.js"></script> 

</head>
<body >
	<!-- Context-Menu-->
	<div id="context_menu" style="display:none;" >
		<div class="option">Drop</div>
		<div class="option">Equip</div>
		<div class="option">Insert Into Anus</div>
	</div>
	<!-- Storage Windows -->
	<div style="opacity:0;display:none;" id="storage_interface">
		<div id="debug_point"></div>
	    <div id="dragShadow"></div>

	    <div class="item" id="dragitem"></div>
	</div>
	<!-- Predefined Windows ( with Slots )-->
	<div style="opacity:0;display:none;" id="equipment" class="targetable_interface" >
		<div class="headline">Equipment<span class="pattern"></span></div>
		<div class="slots">
			<div class="background"></div>
			<div id="clothes_head" class="slot headaccs">
				<div class="name">Head</div>
				<div class="slot_content"></div>
			</div>
			<div id="helmet" class="slot helmet">
				<div class="name">Helmet</div>
				<div class="slot_content"></div>
			</div>
			<div id="armor" class="slot armor">
				<div class="name">Armor</div>
				<div class="slot_content"></div>
			</div>
			<div id="clothes_body" class="slot bodyacces">
				<div class="name">Body</div>
				<div class="slot_content"></div>
			</div>
			<div id="clothes_pants" class="slot pants">
				<div class="name">Pants</div>
				<div class="slot_content"></div>
			</div>
			<div id="clothes_shoes" class="slot shoes">
				<div class="name">Shoes</div>
				<div class="slot_content"></div>
			</div>
			<div id="weapon_primary" class="slot primary">
				<div class="name">Primary</div>
				<div class="slot_content"></div>
			</div>
			<div id="weapon_secondary" class="slot secondary">
				<div class="name">Secondary</div>
				<div class="slot_content"></div>
			</div>
			<div id="weapon_melee" class="slot melee">
				<div class="name">Melee</div>
				<div class="slot_content"></div>
			</div>
			<div id="bag" class="slot bag">
				<div class="name">Backpack</div>
				<div class="slot_content"></div>
			</div>
		</div>
	</div>
	<div style="opacity:0;display:none;" id="vehicle_gear4w" class="targetable_interface" >
		<div class="headline">Components<span class="pattern"></span></div>
		<div class="slots">
			<div class="background"></div>
			<div id="front_left_tire" class="slot tire_fl">
				<div class="name">Tire</div>
				<div class="slot_content"></div>
			</div>
			<div id="front_right_tire" class="slot tire_fr">
				<div class="name">Tire</div>
				<div class="slot_content"></div>
			</div>
			<div id="rear_left_tire" class="slot tire_rl">
				<div class="name">Tire</div>
				<div class="slot_content"></div>
			</div>
			<div id="rear_right_tire" class="slot tire_rr">
				<div class="name">Tire</div>
				<div class="slot_content"></div>
			</div>
			<div id="battery" class="slot battery">
				<div class="name">Battery</div>
				<div class="slot_content"></div>
			</div>
			<div id="plugs" class="slot plugs">
				<div class="name">Spark Plugs</div>
				<div class="slot_content"></div>
			</div>
		</div>
	</div>
<script type="" src="script/script.js?v=4"></script>
</body>
</html>