<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../source/css/font-awesome.css">
    <link rel="stylesheet" href="../../source/css/global.css">
    <link rel="stylesheet" href="style/style.css?v=1">

    <script src="../../source/js/jquery-3.3.1.min.js"></script>
    <script src="../../source/js/jquery-ui.min.js"></script> 
    <script src="../../source/js/rage-rpc.min.js"></script> 

</head>
<body >
	<div style="opacity:0;" id="storage_interface">
		<div id="debug_point"></div>
	    <div id="dragShadow"></div>
	    <div class="item" id="dragitem"></div>
	</div>
	<div id="equipment" class="targetable_interface">
		<div class="headline">Equipment</div>
		<div class="background"></div>
		<div class="slot headaccs">
			<div class="name">Head</div>
			<div class="slot_content"></div>
		</div>
		<div class="slot helmet">
			<div class="name">Helmet</div>
			<div class="slot_content"></div>
		</div>
		<div class="slot armour">
			<div class="name">Armour</div>
			<div class="slot_content"></div>
		</div>
		<div class="slot bodyacces">
			<div class="name">Body</div>
			<div class="slot_content"></div>
		</div>
		<div class="slot pants">
			<div class="name">Pants</div>
			<div class="slot_content"></div>
		</div>
		<div class="slot shoes">
			<div class="name">Shoes</div>
			<div class="slot_content"></div>
		</div>
		<div class="slot primary">
			<div class="name">Primary</div>
			<div class="slot_content"></div>
		</div>
		<div class="slot secondary">
			<div class="name">Secondary</div>
			<div class="slot_content"></div>
		</div>
		<div class="slot meele">
			<div class="name">Meele</div>
			<div class="slot_content"></div>
		</div>
	</div>
<script type="" src="script/script.js?v=3"></script>
</body>
</html>