<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../source/css/global.css">
    <link rel="stylesheet" href="style/style.css">

    <script src="../../source/js/jquery-3.3.1.min.js"></script>
    <script src="../../source/js/jquery-ui.min.js"></script>
</head>
<body>
<div id="user-interface" style="display: none;">
    <div id="tabs">
        <div class="tab"><p>OVERVIEW</p></div>
        <div class="tab active"><p>GEAR</p></div>
        <div class="tab"><p>MAP</p></div>
    </div>
    <div id="equip-panel">
        <div class="equip-entry">
            <div class="equip-dot"></div>
            <div class="equip-slot" data-slot="primary">
                <p>PRIMARY</p>
            </div>
        </div>

        <div class="equip-entry">
            <div class="equip-dot"></div>
            <div class="equip-slot" data-slot="secondary">
                <p>SECONDARY</p>
            </div>
        </div>
        <div class="equip-entry">
            <div class="equip-dot"></div>
            <div class="equip-slot" data-slot="melee">
                <p>MELEE</p>
            </div>
        </div>
        <div class="equip-entry">
            <div class="equip-dot"></div>
            <div class="equip-slot" data-slot="">
                <p></p>
            </div>
        </div>
        <div class="equip-entry">
            <div class="equip-dot"></div>
            <div class="equip-slot" data-slot="">
                <p></p>
            </div>
        </div>
        <div class="equip-entry">
            <div class="equip-dot"></div>
            <div class="equip-slot" data-slot="">
                <p></p>
            </div>
        </div>
    </div>
    <div id="inventory-panel">
        <div class="header"><p>INVENTORY</p></div>
        <div id="inventory">
            <!--<div class="slot"></div>-->
        </div>
    </div>
    <div id="quickcraft-panel">
        <div class="categories">
            <p class="selected">All</p>
            <p>Medical</p>
            <p>Building</p>
            <p>Other</p>
        </div>
        <div id="quickcraft-list">
            <div class="entry">
                <div class="result">
                    <img src="../../source/img/weapon_snowball.png">
                    <p>5</p>
                </div>
                <h1>Snowball</h1>
                <div class="requirements">
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                </div>
                <div class="btn_craft">
                    <p>Craft</p>
                </div>
            </div>
            <div class="entry">
                <div class="result">
                    <img src="../../source/img/weapon_snowball.png">
                    <p>5</p>
                </div>
                <h1>Snowball</h1>
                <div class="requirements">
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                </div>
                <div class="btn_craft">
                    <p>Craft</p>
                </div>
            </div>
            <div class="entry">
                <div class="result">
                    <img src="../../source/img/weapon_snowball.png">
                    <p>5</p>
                </div>
                <h1>Snowball</h1>
                <div class="requirements">
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                </div>
                <div class="btn_craft">
                    <p>Craft</p>
                </div>
            </div>
            <div class="entry">
                <div class="result">
                    <img src="../../source/img/weapon_snowball.png">
                    <p>5</p>
                </div>
                <h1>Snowball</h1>
                <div class="requirements">
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                </div>
                <div class="btn_craft">
                    <p>Craft</p>
                </div>
            </div>
            <div class="entry">
                <div class="result">
                    <img src="../../source/img/weapon_snowball.png">
                    <p>5</p>
                </div>
                <h1>Snowball</h1>
                <div class="requirements">
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                </div>
                <div class="btn_craft">
                    <p>Craft</p>
                </div>
            </div>
            <div class="entry">
                <div class="result">
                    <img src="../../source/img/weapon_snowball.png">
                    <p>5</p>
                </div>
                <h1>Snowball</h1>
                <div class="requirements">
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                </div>
                <div class="btn_craft">
                    <p>Craft</p>
                </div>
            </div>
            <div class="entry">
                <div class="result">
                    <img src="../../source/img/weapon_snowball.png">
                    <p>5</p>
                </div>
                <h1>Snowball</h1>
                <div class="requirements">
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                </div>
                <div class="btn_craft">
                    <p>Craft</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="script/script.js"></script>
</body>
</html>