<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../source/css/all.css">
    <link rel="stylesheet" href="../../source/css/global.css">
    <link rel="stylesheet" href="style/style.css">

    <script src="../../source/js/jquery-3.3.1.min.js"></script>
    <script src="../../source/js/jquery-ui.min.js"></script>
</head>
<body>
<div class="bg-image"></div>
<div id="user-interface" style="display: block;">
    <div id="equip-panel">
        <div id="equip">
            <div class="equip-slot">
                <p>HEAD</p>
            </div>
            <div class="equip-slot">
                <p>BODY</p>
            </div>
            <div class="equip-slot">
                <p>LEGS</p>
            </div>
        </div>
    </div>
    <div id="resistance-panel">
        <div id="resistances">
            <div class="resistance">
                <i class="fa fa-radiation"></i>
                <p>15</p>
            </div>
            <div class="resistance">
                <i class="fa fa-radiation"></i>
            </div>
            <div class="resistance">
                <i class="fa fa-radiation"></i>
            </div>
            <div class="resistance">
                <i class="fa fa-radiation"></i>
            </div>
        </div>
    </div>
    <div id="quickbar-panel">
        <div id="quickbar">
            <div class="quickslot">
                <p>1</p>
            </div>
            <div class="quickslot">
                <p>2</p>
            </div>
            <div class="quickslot">
                <p>3</p>
            </div>
            <div class="quickslot">
                <p>4</p>
            </div>
            <div class="quickslot">
                <p>5</p>
            </div>
            <div class="quickslot">
                <p>6</p>
            </div>
        </div>
    </div>
    <div id="inventory-panel">
        <div id="inventory">
            <!--<div class="slot"></div>-->
        </div>
    </div>
    <div id="quickcraft-panel">
        <div class="categories">
            <p class="selected">All</p>
            <p>Medical</p>
            <p>Building</p>
            <p>Other</p>
        </div>
        <div id="quickcraft-list">
            <div class="entry">
                <div class="result">
                    <img src="../../source/img/weapon_snowball.png">
                    <p>5</p>
                </div>
                <h1>Snowball</h1>
                <div class="requirements">
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                    <div class="qc-item">
                        <img src="../../source/img/weapon_ball.png">
                        <p>1</p>
                    </div>
                </div>
                <div class="btn_craft">
                    <p>Craft</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="script/script.js"></script>
</body>
</html>