<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/style.css">

    <script src="../../source/js/jquery-3.3.1.min.js"></script>
    <script src="../../source/js/jquery-ui.min.js"></script>
</head>
<body>
<div id="user-interface">
    <div id="tabs">
        <div class="tab"><p>Overview</p></div>
        <div class="tab active"><p>Gear</p></div>
        <div class="tab"><p>Map</p></div>
    </div>
    <div id="equip-panel">
        <div class="equip-entry">
            <div class="equip-dot"></div>
            <div class="equip-slot" data-slot="primary">
                <p>Primary</p>
            </div>
        </div>

        <div class="equip-entry">
            <div class="equip-dot"></div>
            <div class="equip-slot" data-slot="secondary">
                <p>Secondary</p>
            </div>
        </div>
        <div class="equip-entry">
            <div class="equip-dot"></div>
            <div class="equip-slot" data-slot="melee">
                <p>Melee</p>
            </div>
        </div>
        <div class="equip-entry">
            <div class="equip-dot"></div>
            <div class="equip-slot" data-slot="">
                <p></p>
            </div>
        </div>
        <div class="equip-entry">
            <div class="equip-dot"></div>
            <div class="equip-slot" data-slot="">
                <p></p>
            </div>
        </div>
        <div class="equip-entry">
            <div class="equip-dot"></div>
            <div class="equip-slot" data-slot="">
                <p></p>
            </div>
        </div>
    </div>
    <div id="inventory-panel">
        <div id="inventory">
            <!--<div class="slot"></div>-->
        </div>
    </div>
</div>
<script src="script/script.js"></script>
</body>
</html>