html
{
    width: 100%;
    height: 100%;
}

#user-interface
{
    width: 100%;
    height: 100%;
}

#inventory-panel
{
    position: absolute;
    left: 50%;
    bottom: 0;
}

#inventory
{
    width: 400px;
    height: auto;
    position: relative;
    left: -50%;
    bottom: 100px;
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 40px auto;
}

#inventory .slot
{
    width: 40px;
    height: 40px;
    position: relative;
    background-color: rgba(84, 84, 84, .9);
    box-shadow: inset 0 0 0px 1px rgba(60, 60, 60, .1);
}

#inventory .slot.used
{
    background-color: gray;
}

#inventory .slot img
{
    position: absolute;
    z-index: 2;
}

.item
{
    width: auto;
    height: auto;
    position: absolute;
}

.item1x1
{
    max-width: 40px;
    max-height: 40px;
}

.item2x3
{
    max-width: 80px;
    max-height: 120px;
}

.item2x4
{
    max-width: 80px;
    max-height: 160px;
}

.item4x2
{
    max-width: 160px;
    max-height: 80px;
}