:root
{
    font-weight: bold;
    color: white;

    --equipslot-size:   112px;
    --equipslot-gap:    6px;

    --quickslot-size:   96px;
    --quickslot-gap:    6px;
    --quickslots:       6;

    --slot-size:        50px;
    --slots-per-row:    10;
}

p
{
    margin: 0;
}

html
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body
{
    width: inherit;
    height: inherit;
    overflow: hidden;
    margin: 0;
}

.bg-image
{
    margin: 0;
    background-image: url("background.jpg");
    z-index: -1;
    -webkit-filter: blur(3px);

    height: 105%;
    width: auto;

    background-size: cover;
}

#user-interface
{
    width: inherit;
    height: inherit;
    z-index: 1;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
}

/*
 * EQUIP PANEL
 */
#equip-panel
{
    width: var(--equipslot-size);
    height: auto;
    position: absolute;
    left: 15px;
    bottom: 50%;
}

#equip-panel #equip
{
    position: absolute;
    bottom: -50%;
}

#equip-panel #equip .equip-slot
{
    width: var(--equipslot-size);
    height: var(--equipslot-size);
    margin-bottom: var(--equipslot-gap);
    background-color: rgba(255, 255, 255, .2);
}

#equip-panel #equip .equip-slot p
{
    line-height: var(--equipslot-size);
    text-align: center;
    color: rgba(255, 255, 255, .2);
}

/*
 * RESISTANCES
 */
#resistance-panel
{
    width: 200px;
    height: auto;
    position: absolute;
    left: 15px;
    top: 50%;
}

#resistance-panel #resistances
{
    position: absolute;
    top: -50%;
}

#resistance-panel #resistances .resistance
{
    width: 112px;
    height: 30px;
    background: linear-gradient(to right, rgba(120,120,120,0.6) 0%, rgba(0,0,0,0.2) 100%);
    margin-bottom: 5px;
    line-height: 30px;
    color: rgba(255, 255, 255, .6);
}

#resistance-panel #resistances .resistance i
{
    margin-left: 5px;
    font-size: 20px;
}

#resistance-panel #resistances .resistance p
{
    display: inline-block;
    float: right;
    margin-right: 5px;
}


/*
 * QUICKBAR
 */
#quickbar-panel
{
    width: calc(var(--quickslots) * (var(--quickslot-size) + var(--quickslot-gap)));
    height: var(--quickslot-size);
    position: absolute;
    left: 50%;
    bottom: var(--quickslot-gap);
}

#quickbar-panel #quickbar
{
    width: calc(var(--quickslots) * (var(--quickslot-size) + var(--quickslot-gap)));
    height: var(--quickslot-size);
    position: inherit;
    left: -50%;
    display: inline;
    font-size: 0;
}

#quickbar-panel #quickbar .quickslot
{
    width: var(--quickslot-size);
    height: var(--quickslot-size);
    margin-right: var(--quickslot-gap);
    background-color: rgba(255, 255, 255, .2);
    display: inline-block;
    overflow: hidden;
}

#quickbar-panel #quickbar .quickslot p
{
    margin: 0;
    line-height: var(--quickslot-size);
    text-align: center;
    font-family: Roboto;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255, 255, 255, .2);
}

/*
 * INVENTORY
 */
#inventory-panel
{
    position: absolute;
    left: 50%;
    bottom: 0;
}

#inventory
{
    width: calc(var(--slot-size) * var(--slots-per-row));
    height: auto;
    position: relative;
    left: -50%;
    bottom: 146px;
    display: grid;
    grid-template-columns: var(--slot-size) var(--slot-size) var(--slot-size) var(--slot-size) var(--slot-size) var(--slot-size) var(--slot-size) var(--slot-size) var(--slot-size) var(--slot-size);
    grid-template-rows: var(--slot-size) auto;
}

#inventory::before
{
    content: 'INVENTORY';
    width: 142px;
    height: 35px;
    position: absolute;
    top: -35px;
    background-color: rgba(255, 255, 255, .4);
    line-height: 35px;
    padding-left: 8px;
}

#inventory .slot
{
    width: var(--slot-size);
    height: var(--slot-size);
    position: relative;
    background-color: rgba(200, 200, 200, .2);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
}

#inventory .slot.used
{
    background-color: rgba(100, 100, 100, .4);
}

#inventory .slot.used-drag
{
    background-color: rgba(100, 100, 100, .4);
}

#inventory .slot .item img
{
    max-width: inherit;
    max-height: inherit;
    object-fit: contain;
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

#inventory .slot .item img.flipped
{
    max-width: fit-content;
    max-height: fit-content;
    transform: rotate(-90deg);
}

.item
{
    width: auto;
    height: auto;
    position: absolute;
    z-index: 1;
}

.item1x1
{
    max-width: var(--slot-size);
    max-height: var(--slot-size);
    width: var(--slot-size);
    height: var(--slot-size);
}

.item2x3
{
    max-width: calc(2 * var(--slot-size));
    max-height: calc(3 * var(--slot-size));
    width: calc(2 * var(--slot-size));
    height: calc(3 * var(--slot-size));
}

.item2x4
{
    max-width: calc(2 * var(--slot-size));
    max-height: calc(4 * var(--slot-size));
    width: calc(2 * var(--slot-size));
    height: calc(4 * var(--slot-size));

}

.item4x2
{
    max-width: calc(4 * var(--slot-size));
    max-height: calc(2 * var(--slot-size));
    width: calc(4 * var(--slot-size));
    height: calc(2 * var(--slot-size));
}



/*
 * STASH
 */
#stash-panel
{
    position: absolute;
    left: 50%;
    bottom: 0;
}

#stash
{
    width: calc(var(--slot-size) * var(--slots-per-row));
    height: auto;
    position: relative;
    left: -50%;
    bottom: 146px;
    display: grid;
    grid-template-columns: var(--slot-size) var(--slot-size) var(--slot-size) var(--slot-size) var(--slot-size) var(--slot-size) var(--slot-size) var(--slot-size) var(--slot-size) var(--slot-size);
    grid-template-rows: var(--slot-size) auto;
}

#stash::before
{
    content: 'INVENTORY';
    width: 142px;
    height: 35px;
    position: absolute;
    top: -35px;
    background-color: rgba(255, 255, 255, .4);
    line-height: 35px;
    padding-left: 8px;
}

#stash .slot
{
    width: var(--slot-size);
    height: var(--slot-size);
    position: relative;
    background-color: rgba(200, 200, 200, .2);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
}

#stash .slot.used
{
    background-color: rgba(100, 100, 100, .4);
}

#stash .slot.used-drag
{
    background-color: rgba(100, 100, 100, .4);
}

#stash .slot .item img
{
    max-width: inherit;
    max-height: inherit;
    object-fit: contain;
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

#stash .slot .item img.flipped
{
    max-width: fit-content;
    max-height: fit-content;
    transform: rotate(-90deg);
}



/*
 * QUICKCRAFT
 */

#quickcraft-panel
{
    width: 600px;
    height: 400px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: rgba(255, 255, 255, .2);
}

#quickcraft-panel .categories
{
    width: 150px;
    height: inherit;
    position: relative;
    background-color: rgba(0, 0, 0, .2);
}

#quickcraft-panel .categories p
{
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
    font-weight: normal;
    letter-spacing: 1px;
}

#quickcraft-panel .categories p:nth-child(odd)
{
    background-color: rgba(180, 180, 180, .2);
}

#quickcraft-panel .categories p:nth-child(even)
{
    background-color: rgba(180, 180, 180, .1);
}

#quickcraft-panel .categories p:hover
{
    background-color: rgba(80, 80, 80, .6);
}

#quickcraft-panel .categories p.selected
{
    background-color: rgba(200, 200, 200, .6);
}

#quickcraft-list
{
    width: 450px;
    height: inherit;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden auto;
}

#quickcraft-list .entry
{
    height: 80px;
    width: inherit;
    background-color: rgba(0, 0, 0, .1);
    margin-bottom: 2px;
}

#quickcraft-list .entry:nth-child(odd)
{
    background-color: rgba(0, 0, 0, .2);
}

#quickcraft-list .entry:hover
{
    background-color: rgba(0, 0, 0, .3);
}

#quickcraft-list .entry h1
{
    max-width: 250px;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    position: relative;
    top: -80px;
    left: 85px;
}

#quickcraft-list .entry .result
{
    width: 80px;
    height: inherit;
    background-color: rgba(0, 0, 0, .1);
}

#quickcraft-list .entry .result img
{
    width: 80%;
    height: auto;
    margin: 10%;
}

#quickcraft-list .entry .result p
{
    width: inherit;
    position: relative;
    bottom: 30px;
    right: 60px;
    text-align: right;
    font-size: 25px;
    -webkit-text-stroke: 2px rgba(0, 0, 0, .2);
}

#quickcraft-list .entry .requirements
{
    width: 250px;
    height: 80px;
    position: relative;
    bottom: 100px;
    left: 80px;
}

#quickcraft-list .entry .requirements .qc-item
{
    height: 40px;
    width: auto;
    display: inline-block;
    position: relative;
    top: 30px;
    left: 5px;
    background-color: rgba(150, 150, 150, .2);
}

#quickcraft-list .entry .requirements .qc-item img
{
    height: inherit;
    width: auto;
}

#quickcraft-list .entry .requirements .qc-item p
{
    position: relative;
    bottom: 15px;
}

#quickcraft-list .entry .btn_craft
{
    width: 80px;
    height: 25px;
    background-color: #0f9d58;
    position: relative;
    bottom: 155px;
    left: 340px;
}

#quickcraft-list .entry .btn_craft p
{
    line-height: 25px;
    text-align: center;
}

.droppable-highlight
{
    box-shadow: inset 0 0 15px 2px rgba(0, 210, 0, .6);
    transition: .2s;
}