:root {}
body {
    background-image: url("../20190208-17-54-25.jpg");
}
.charcreation {
    position: relative;
    width: 20vw;
    height: 50vh;
    max-width: 300px;
    margin-left: 5vw;
    margin-top: 20vh;

}
.charcreation>.headline {
    font-family: Lato;
    padding-top: 5px;
    padding-bottom: 6px;
    margin-bottom:5px;
    font-weight: 600;
    position: relative;
    width:calc(100% - 20px);
    text-align: left;
    padding-left:20px;
    line-height: 20px;
    color:var(--font-color-dark);
    background:var(--color-headline);
    border-radius: 0px;
    opacity:0.9;
    text-transform: uppercase;
}

.charcreation>.properties {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    background: var(--color-bg-trans-8);
    overflow:overlay;
}
.charcreation>.properties>.group {
    line-height: 35px;
    padding-left:15px;
    margin-top:5px;
    background:var(--color-headline-trans-2);
    color:#FFF;
    border-bottom:1px solid #FFF;
    cursor: pointer;
    transition: all 100ms linear;
}

.charcreation>.properties>.group:hover {
    background:var(--color-headline-trans-4);
    transition: all 100ms linear;

}
.charcreation>.properties>.group_content {
    color:#FFF;
    transition: all 100ms linear;
    overflow: hidden;
    position: relative;
    height:0;
}
.charcreation>.properties>.group_content .group_div{
    height:70px;
    background:var(--color-headline-trans-2);
}
.charcreation>.properties>.group_content .value{
    width:90%;
    margin-left:5%;
    padding-top:5px;
    display:block;
}
.charcreation>.properties>.group_content .value > span{
    text-align: right;
    position: absolute;
    right: 25%;
}

.charcreation>.properties>.group_content .slider {
    display: block;
    float: none;
    position: absolute;
    margin-top:0px;
    width:80%;
    left:10%;
}
.charcreation>.properties>.group_content .slider input{
   margin-top:20px;
}
.flat-slider.ui-slider{
   background: rgba(0,0,0,0);
}
.flat-slider.ui-slider .ui-slider-pip .ui-slider-line {
    background: var(--color-headline);
}
.flat-slider .ui-slider-handle, .flat-slider .ui-slider-range, .flat-slider .ui-slider-pip[class*="ui-slider-pip-selected"] .ui-slider-line, .flat-slider .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
    background: red;

}

.charcreation>.button:after {
    content:" ";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background:url(pattern.png) repeat;
    background-size: 120px 120px;
    opacity:0.4;

}
.charcreation>.button {
    position: relative;
    line-height:70px;
    color:#FFF;
    text-align: center;
    margin-top:5px;
    font-size:30px;
    font-family: Lato;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    cursor: pointer;
    background:rgba(200,200,200,0.9);
    transition: all 100ms linear;
    border-radius:1px;


    text-shadow:  1px  1px 3px rgba(0,0,0,0.1),
                  1px -1px 3px rgba(0,0,0,0.1),
                 -1px  1px 3px rgba(0,0,0,0.1),
                 -1px -1px 3px rgba(0,0,0,0.1);
}

.charcreation>.button:hover {
    background: rgba(220,220,220,1);
    text-shadow:  1px  1px 5px rgba(0,0,0,0.2),
                  1px -1px 5px rgba(0,0,0,0.2),
                 -1px  1px 5px rgba(0,0,0,0.2),
                 -1px -1px 5px rgba(0,0,0,0.2);
    transition: all 100ms linear;
}


